/*Declaring variables*/
:root {
    --darkGrayishBlue: hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

/*Setting default margin and padding for all elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;;
}

/*Setting styles for main containers*/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGrayishBlue);
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
}

.card {
    /* overflow: hidden; */
    clip: 1;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
    max-width: 770px;
    height: 270px;
}

.text {
    position: relative;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: spaced-between;
    padding: 15px 40px 0px 40px;
    background-color: white;
    width: auto;
}

.tooltip {
    position: absolute;
    top: -60px;
}

.tooltip-mobile {
    display: none;
}

.visible {
    visibility: hidden;
}

/*State when share button is pressed*/
.svg-fill {
    fill:white;
}

.btn-background {
    background-color: var(--desaturatedDarkBlue);
}


.tooltip div {
    background-color: var(--darkGrayishBlue);
    display: flex;
    align-items: center;
    padding: 13px 25px;
    border-radius: 7px;
    height: 40px;
}

/* Tooltip arrow */
.tooltip div::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--darkGrayishBlue) transparent transparent transparent;
  }



.main-image {
    position: relative;
    margin-right: -8%;
    /* height: 250px; */
}


.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
}


.user {
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}
.user-info {
    display: flex;
    height: 45px;
    align-items: center;
    flex-direction: row;
    float: left;
}

.share {
    background-color: var(--lightGrayishBlue);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.share>img {
    fill: red;
}

.share img:hover {
    fill:red;
}
   

/*Setting styles for images*/
.main-image>img {
    display: block;
    border-radius: 10px 0 0 10px;
    position: relative;
    height: 100%;
}

.user-image {
    border-radius: 50%;
    margin-right: 20px;
    height: 100%;
    display: block;

  }

.tooltip img {
    margin-left: 15px;
    height: 100%;
}

.share svg path{
    float: right;
    display: block;
}
/**Setting styles for text*/
h1 {
    color: var(--darkGrayishBlue);
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}

p {
    color: var(--desaturatedDarkBlue);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.6;
}

.name {
    font-weight: 700;
    color: var(--darkGrayishBlue);
}

.date {
    color: var(--grayishBlue);
}

.tooltip p {
    font-size:13px;
    letter-spacing: 3px;
    color: var(--grayishBlue);
}



/*Button*/
button {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


/*Media queries to  adapt layout for mobile view*/
@media screen and (max-width: 770px) {
    .card {
      flex-direction: column;
      overflow: hidden;
      position: relative;
      border-radius: 15px;
      width: 315px;
      height: auto;
    }

    .main-image {
        margin-bottom: -14%;
        margin-right: 0;
    }
    
    .main-image>img {
        width: 100%;
    }


    .text {
        position: relative;
        display: flex;
        border-radius: 0;
        flex-direction: column;
        align-items: spaced-between;
        padding: 15px 29px 0px 29px;
        background-color: white;
        width: auto;
    }


    h1 {
        color: var(--darkGrayishBlue);
        font-size: 16px;
        font-weight: 700;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    p {
        color: var(--desaturatedDarkBlue);
        font-size: 13px;
        font-weight: 500;
        line-height: 1.6;
    }
    
    .name {
        font-weight: 700;
        color: var(--darkGrayishBlue);
    }
    
    .date {
        color: var(--grayishBlue);
    }
    
    .user {
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0 10px 0;
    }

    .tooltip {
        display: none;;
    }

    .tooltip-mobile {
        position: absolute;
        /* visibility: hidden; */
        display: flex;
        flex-direction: row;
        bottom: 0;
        height: 65px;
        width: 100%;
        background-color: var(--darkGrayishBlue);
    }


    .tooltip-mobile div {
        /* display: inline-block; */
        background-color: var(--darkGrayishBlue);
        display: flex;
        align-items: center;
        padding: 13px 25px;
    }


    .tooltip-mobile div * {
        margin-right: 20px;
    }

    .tooltip-mobile p {
        letter-spacing: 5px;
        font-weight: 500;
        color: var(--grayishBlue);
    }

    .visible {
        visibility: hidden;
    }

    #share {
        z-index: 100;
    }
 }